/* css/footer.css */
footer{
    width:1000px;
    margin:0 auto;
    overflow:hidden;
}
footer div:nth-child(1),
footer div:nth-child(2),
footer div:nth-child(3){
    float:left;
    width:33.3%;
    border:1px solid gray;
    box-sizing:border-box;
    height:100px;
    margin-bottom:10px;
}
footer div:last-child{
    clear:both; /* 앞의 float속성을 clear */
    background-color:black;
    color:white;
    height:50px;
    line-height:50px; /* 수직 가운데 */
    text-align:center; /* 수평 가운데 */
}
